.text_info{

   padding-bottom: 5px;
    font-weight: bold;
}
.hello-text {
            margin-top: 20px;
            padding-bottom: 5px;
            color: #1a1a2e; /* Dark Gray Text Color */
        }