<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>קרן המבר עורכת דין | מקרקעין נדלן וצוואות</title>
    <script src="/static/js/globals.js" defer></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="/static/css/law_style.css">
<nav>
<div class="toolbar">
    <div class="logo"><img src="/static/media/img/Pictures/LOGO.png" alt="logo"  ></div>

<ul class="menu">

<li><a href="/pages/homepage/templates/index.html">עמוד הבית</a></li>
  <li><a href="/pages/about/templates/about.html">אודות</a></li>
  <li><a href="/pages/contact_us/templates/contact_us.html">צור קשר</a></li>
    <li><a href="/pages/user_profile/templates/user_profile.html">החשבון שלי</a></li>
    <li class="telephone_box">
        <a href="tel:052-8084081" class=telephone_box">
						  התקשרו עכשיו <p>052-8084081</p>
    </a></li>
</ul></div></nav>
 <h1 class="h1">התחברות לקוח</h1>
 <form class="signInContainer">

        <label for="email">כתובת מייל</label>
        <input type="email" id="email" name="email" required placeholder="מייל">

        <label for="password">סיסמא</label>
        <input type="password" id="password" name="password" required placeholder="סיסמה">
      <div>
        <button class="signButton" id="signInButton" type="submit" name="submit" aria-label="Sign In">התחברות</button>

      </div>
     <div class="errorMsg"></div>
     </form>
<div><button class="signButton" id="signUpButton" type="submit" aria-label="Sign Up">לא נרשמת עדיין? הירשם</button></div>
        <script src="../static/js/user_connection.js"></script>

</body>
</html>